/*conmments*/

ul {
    list-style: none
}
.reply {

}
.thing {
    border-left: 5px solid green;
     border-bottom: 5px solid green;
}

#comment button{
    float: left;
}

.button {
   border-top: 1px solid #97c9f7;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e629c), to(#65a9d7));
   background: -webkit-linear-gradient(top, #3e629c, #65a9d7);
   background: -moz-linear-gradient(top, #3e629c, #65a9d7);
   background: -ms-linear-gradient(top, #3e629c, #65a9d7);
   background: -o-linear-gradient(top, #3e629c, #65a9d7);
   padding: 7px 14px;
   -webkit-border-radius: 24px;
   -moz-border-radius: 24px;
   border-radius: 24px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border-top-color: #306d96;
   background: #306d96;
   color: #37b4e6;
   }
.button:active {
   border-top-color: #124709;
   background: #124709;
}


textarea{
    resize: none;
    padding: 1%;
}


input {
    width: 100%;
    height: 50px;
}
.comment {
    margin: 20px;
    border: 2px solid blue;
}


/*main page*/

.header {
  top: 0%
}

#welcome {
  color: blue;
}

.up-arr {
    height: 6%;
    width: 6%;
}

.down-arr {
    height: 6%;
    width: 6%;
}

.links {
  font-family: impact;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  display: inline-block;
}

.oneLink {
  height: 30px;
  line-height: 14px;
  vertical-align: middle;
  display: inline-block;
}

.footer {
  bottom: 0%;
}
