/*conmments*/
.c-1 {
    margin-left: 20px;
}

.c-1-1 {
    margin-left: 40px;
}

.c-1-1-1 {
    margin-left: 60px;
}

/*main page*/

.header {
  top: 0%
}

#welcome {
  color: blue;
}

.up-arr {
    height: 6%;
    width: 6%;
}

.down-arr {
    height: 6%;
    width: 6%;
}

.links {
  font-family: impact;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  display: block;
}

.oneLink {
  height: 30px;
  line-height: 20px;
  vertical-align: middle;
  display: inline-block;
}

.footer {
  bottom: 0%;
}
