/*conmments*/
.reply {

}
.thing {
    border: 2px solid green;
}
#comment {
    border: 2px solid black;
}
#comment button{
    float: right;
}
textarea {
    width: 100%;
}
.comment {
    margin: 20px;
    border: 2px solid blue;
}

.comments-1 {
    margin-left: 20px;
    border: 2px solid blue;
}

.comments-1-1 {
    margin-left: 40px;
    border: 2px solid blue;
}

.comments-1-1-1 {
    margin-left: 60px;
    border: 2px solid blue;
}

.comments-1-1-1-1 {
    margin-left: 60px;
    border: 2px solid blue;
}

.Pcomment-1-1-1-1-1 {
    margin-left: 60px;
}

/*main page*/

.header {
  top: 0%
}

#welcome {
  color: blue;
}

.links {
  font-family: impact;
}

.footer {
  bottom: 0%;
}
