<h1>a link about a super fun thing</h1>
<!--tree structure -->
<script type="text/ng-template"  id="x.html">
<div class="thing">
    <div id="comment">
        <p>{{data.username}}:  {{data.content}}</p>
        <p>{{data.date}}</p>
        <p>{{data.likes - data.disLikes}}</p>
    </div>
    <input ng-model="data.reply" placeholder="reply"></br>
    <button class="button" ng-click="add(data,data.reply)">Reply</button>
    <button class="button" ng-click="like(data)">like</button>
    <button class="button" ng-click="disLike(data)">disLike</button>
    <br><br><br>
    <ul>
        <li ng-repeat="data in data.child track by $id($index)" ng-include="'x.html'"></li>
        <br><br><br>
    </ul>
</div>
</script>

<ul ng-app="app">
    <form id="comment">
        <input  ng-model="vm.comment.content" id="content" placeholder='comment'></br>
        <button class="button" ng-click="vm.addComment(vm.comment.content)">add comment</button>

    </form>
    <li ng-repeat="data in vm.tree track by $id($index)" ng-include="'x.html'"></li>
</ul>
